body {
    background-color: #B7B597;
}

.Project-name {
    color: 254336;
}

p {
    color: 254336;
}

#Title-Head {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    color: black;
}

#Photo-Of-Rein {
  clip-path: circle(35%);
}

.col {
    border-radius: 25px;
    padding: 20px;
    background-color: #DAD3BE;
    margin: 1%;
    box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
}

#border-header {
    background-color: #6B8A7A;
    margin-bottom: 2%;
    padding: 1%;
    box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
}

#header-footer-text {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}